{% extends 'base.html.twig' %}

{% block title %}Liste des véhicules{% endblock %}

{% block body %}
    <h1>Liste des véhicules</h1>

    <table>
        <thead>
            <tr>
                <th>Marque</th>
                <th>Immatriculation</th>
                <th>Année</th>
                <th>Détails</th>
                <th>Réservation</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicule in vehicules %}
                <tr>
                    <td>{{ vehicule.marque }}</td>
                    <td>{{ vehicule.immatriculation }}</td>
                {% if vehicule.statutDisponibilite %}
                    <td>Disponible</td>
                {% else %}
                    <td>Indisponible</td>
                {% endif %}
                {% if app.user %}
                    <td><a href="{{ path('app_reservation_new')}}">Réserver</a></td>
                    <td><a href="{{ path('app_vehicules_show', {'id': vehicule.id}) }}">Détails</a></td>
                {% else %}
                    <td><a href="{{ path('app_login') }}">Réserver</a></td>
                    <td><a href="{{ path('app_vehicules_show', {'id': vehicule.id}) }}">Détails</a></td>
                {% endif %}

                </tr>

            {% else %}
                <tr>
                    <td colspan="4">Aucun véhicule trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}